body {
    background-color:#303030	 ;
    overflow-x: hidden; 
    font-family: "Lexend Deca", sans-serif;
}

  p {
    font-family: "Lexend Deca", sans-serif;
    color:  rgb(211, 211, 211);
    font-size: .8em;

  }

  a {
    color: black;
    font-family: "Lexend Deca", sans-serif;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;
    margin: 20px;
    transition: 0.3s;


  }
  a:link {
    text-decoration: none;
  }

  a:hover {
    color: white;
    transition: 0.3s;

  }


  hr{

    border: 2px solid black;
  }

  
h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 4rem;
    
    }

    
h2{
    color: rgb(216, 184, 0);
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 200;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 2.5rem;
    letter-spacing: 12px;

    }
    
h3 {
    color:rgb(179, 179, 179);	
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    
    
    
    }

    
h4{
        color: rgb(216, 184, 0);
        font-family: "Lexend Deca", sans-serif;
        line-height: 5px;
        

        }



h6{
    color:  rgb(216, 216, 216);
    font-size: 1.5rem;
    font-family: "Lexend Deca", sans-serif;
    line-height: 5px;

    }

.linkbutton{color: black;
    font-family: "Lexend Deca", sans-serif;
    display: inline-block;
            width: 300px;
            background-color:rgb(216, 184, 0);
            padding: 10px;
            border-radius: 4px;
            font-weight: 900;
            transition: 0.3s;}


.bio{

    padding-top: 50px;
    padding-bottom: 0px;
}
.headbox{
    background-color:rgb(216, 184, 0);
    width: 300px;
    height: 7px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 5px;
}

.paddingbox{

    padding: 40px;
}

.portfoliobox{


    background-color: #5a5a5a;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    width: 100vw;

}


.portfolioheadbox{


    background-color: #696969;
    margin: auto;
    width: 100vw;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }











.hide {
            display: none;

          }
              
.hoverdiv:hover .hide {
            display: inline-block;

          }

.portfolio{
    width:22vw;
    height:auto;
    margin: 10px;
    transition: 0.2s;

}

.narrow{
    width: 20vw;
}

.wide{
    width: 50vw;
}

.portfolio:hover{
    width: 40vw;
    transition: 0.2s;

} 


.topnav {
    overflow: hidden;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
  }
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #e57cf3;
    color: white;
}


.inline{ 
    
    display: inline;}

.contactalign{
    float: right;
}
.main-logo{
    width: 40vw;
    padding: 30px;
}
.mono{
        font-family: "Lexend Deca", sans-serif;

}

.border{
    border-style: solid;
    border-width: 25px;
}

.exlight{
    font-weight: 100;
    }
    
.light{
        font-weight: 200;
        }
    
.medium{
        font-weight: 500;
    }
    
.bold{
        font-weight: 900;
        }



.center{
    text-align: center;
   

}

.partial{

    width: 60vw;
}

.big{

    font-size: 2rem;
    color: rgb(44, 204, 44);
    line-height: 1;
}
.huge{
    font-family: "Lexend Deca", sans-serif;
    font-size: 5rem;
    text-align: left;
    position:relative;
    margin-top: 200px;
    line-height: 0;

}

.yellow{
color: #f3e77c;	

}

.white{
    color: white;
}

.green{
    color: chartreuse
}

.red{

    color: rgb(255, 60, 0)
}

.purple{
    color:#e57cf3;
}

.orange{
    color: rgb(255, 115, 0);
}


.giant{
    font-size: 8rem;
    text-transform: uppercase;
}
.logo{
    line-height: 0.1;
}

.push{
    padding-left: 50px;

}

.box{
   
    background-color: rgb(216, 184, 0);
    padding: 1px;
    border-radius: 4px;
    font-weight: 900;
   

}

.darkbox{
   
    background-color: rgb(32, 32, 32);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;
   

}

.buttonpad{
    padding: 10px;
    margin: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;

  }
    .one {
        
    }
    .two { 
        

    }
    .three {
        

    }









@media only screen and (max-width: 1000px) {

     
        h1 {
       
            font-size: 2rem;
        }


        h2 {
       
            font-size: 1.5rem;
            letter-spacing: 6px;

        }

        .headbox{
            width: 150px;
            height: 4px;
        }

        h3{

            font-size: 1.5rem;
        
        }

        p{

            font-size: .7em;
        }


        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            padding: 10px;
          }
          .grid-item {
            padding: 20px;
            font-size: 30px;
            text-align: center;
          }
        
        
        
        
        
    
        
        .portfolio{
            width:35vw;
            height:auto;
            margin: 10px;
            transition: 0.3s;
        
        }
        
        .narrow{
            width: 25vw;
        }
        
        .wide{
            width: 60vw;
        }
        
        .portfolio:hover{
            width: 50vw;
            transition: 0.5s;
        
        } 

    }

@media only screen and (max-width: 600px) {

    .portfoliobox{

     margin-top: 20px;
        padding-bottom: 5px;
    }

    .headbox{
        width: 90px;
        height: 3px;
    }
    .main-logo{
                width: 70vw;
                padding: 50px;
            }
    h2 {
           
        font-size: .9rem;
        letter-spacing: 6px;
            }
    
    h3{
    
        font-size: 1rem;
            }


            .contactalign{
                float: none;
                margin: auto;
                    }
        

    p{

        font-size: .6em;
    }

    .bio{

        padding-top: 10px;
        padding-bottom: 0px;
    }



    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
      }

      .grid-container2 {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
      }
      .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
    
    
    
    
    

    
    .portfolio{
        width:50vw;
        height:auto;
        margin: 10px;
        transition: 0.3s;
    
    }
    
    .narrow{
        width: 30vw;
    }
    
    .wide{
        width: 60vw;
    }
    
    .portfolio:hover{
        width: 65vw;
        transition: 0.5s;
    
    } 



}